.enigma {
    width: 40%;
    margin-left: 30%;
    padding-bottom: 10px;
}

.form-group {
    padding: 7px;
}

.alert {
    margin-top: 4px;
}

.rotpair {
    vertical-align: top;
    display: inline-block;
    width: 50%;
}